* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #000000;
    --marinho: #493D9E;
    --amarelo-claro: #FFF2AF;
    --roxo-claro: #B2A5FF;
    --verde: #99BC85;
    --azul-claro: #E4EFE7;
    --branco: #FFFFFF;
    --marron-claro: #FAF1E6;
}

body{
    background-color: var(--fundo);
    margin: 0;
}
header{
    background-color: var(--cor-frente);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header a{
    color: var(--branco);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var( --cor-frente);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 4rem;
}

.cartao{
    background-color: var(--cor-frente);
    padding: 40px;
    color: var(--branco);
    box-shadow: 6px 5px 18px var(--preto) 
}

.cartao:hover{
    transform: scale(1.03);
}

.respostas-cartao{
    padding: 40px;
    background-color: plum;
    display: none;
}